In [1]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [3]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [4]:
tuple([4, 0, 2])
tup = tuple('string')
tup

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [6]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup
nested_tup[0]
nested_tup[1]

((4, 5, 6), (7, 8))

(4, 5, 6)

(7, 8)

In [7]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [8]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [9]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [10]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [12]:
tup = (4, 5, 6)
a, b, c = tup
a
b
c

4

5

6

In [14]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
a
b
c
d

4

5

6

7

In [15]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

2

2

1

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [17]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a
b
rest

1

2

[3, 4, 5]

In [19]:
a, b, *_ = values
a
b
_

1

2

[3, 4, 5]

In [20]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [22]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

In [23]:
gen = range(10)
gen
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [25]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [26]:
b_list.pop(2)
b_list

'peekaboo'

['foo', 'red', 'baz', 'dwarf']

In [27]:
b_list.append("foo")
b_list
b_list.remove("foo")
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

['red', 'baz', 'dwarf', 'foo']

In [28]:
"dwarf" in b_list

True

In [29]:
"dwarf" not in b_list

False

In [30]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [31]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [32]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [33]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [34]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [35]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [36]:
seq[:5]
seq[3:]

[7, 2, 3, 6, 3]

[6, 3, 6, 0, 1]

In [37]:
seq[-4:]
seq[-6:-2]

[3, 6, 0, 1]

[3, 6, 3, 6]

In [38]:
seq[::2]

[7, 3, 3, 0]

In [39]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

In [40]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [41]:
d1[7] = "an integer"
d1
d1["b"]

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [42]:
"b" in d1

True

In [43]:
d1[5] = "some value"
d1
d1["dummy"] = "another value"
d1
del d1[5]
d1
ret = d1.pop("dummy")
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

'another value'

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [44]:
list(d1.keys())
list(d1.values())

['a', 'b', 7]

['some value', [1, 2, 3, 4], 'an integer']

In [45]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [46]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [47]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [48]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [49]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [51]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [52]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

-901153182982853122

-9209053662355515447

TypeError: unhashable type: 'list'

In [53]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [54]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

{1, 2, 3}

In [58]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a
b

{1, 2, 3, 4, 5}

{3, 4, 5, 6, 7, 8}

In [59]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [60]:
a.intersection(b)
a & b

{3, 4, 5}

{3, 4, 5}

In [61]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{1, 2, 3, 4, 5, 6, 7, 8}

{3, 4, 5}

In [62]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [63]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

True

In [64]:
{1, 2, 3} == {3, 2, 1}

True

In [65]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

[0, 1, 2, 2, 3, 6, 7]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [66]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [67]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [68]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [69]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [70]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [71]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [72]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [73]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [75]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]
all_data

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [76]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [78]:
result = [name for names in all_data for name in names if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [79]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
def my_function(x, y):
    return x + y

In [84]:
my_function(1, 2)
result = my_function(1, 2)
result

3

3

In [85]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [86]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [87]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

0.06363636363636363

35.49

45.0

In [88]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [89]:
func()
a
func()
a

[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [90]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [92]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]
states

['   Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina##',
 'West virginia?']

In [94]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [95]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [96]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [97]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [98]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [99]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [100]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [101]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [103]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [104]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [105]:
dict_iterator = iter(some_dict)
dict_iterator

In [106]:
list(dict_iterator)

['a', 'b', 'c']

In [107]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [108]:
gen = squares()
gen

In [109]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [111]:
gen = (x ** 2 for x in range(100))
gen

In [112]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

328350

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [113]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [114]:
float("1.2345")
float("something")

1.2345

ValueError: could not convert string to float: 'something'

In [115]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [116]:
attempt_float("1.2345")
attempt_float("something")

1.2345

'something'

In [117]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [118]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [119]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [120]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [121]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [122]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [123]:
f.close()

In [124]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [125]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

'Sue帽a el r'

b'Sue\xc3\xb1a el '

In [126]:
f1.tell()
f2.tell()

11

10

In [127]:
import sys
sys.getdefaultencoding()

'utf-8'

In [128]:
f1.seek(3)
f1.read(1)
f1.tell()

3

'帽'

5

In [129]:
f1.close()
f2.close()

In [130]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

'examples/segismundo.txt'

['Sue帽a el rico en su riqueza,\n',
 'que m谩s cuidados le ofrece;\n',
 'sue帽a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue帽a el que a medrar empieza,\n',
 'sue帽a el que afana y pretende,\n',
 'sue帽a el que agravia y ofende,\n',
 'y en el mundo, en conclusi贸n,\n',
 'todos sue帽an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [131]:
import os
os.remove("tmp.txt")

In [132]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

'Sue帽a el r'

10

In [133]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [134]:
data.decode("utf-8")
data[:4].decode("utf-8")

'Sueña el '

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [135]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

UnicodeEncodeError: 'latin-1' codec can't encode character '\u5e3d' in position 3: ordinal not in range(256)

In [136]:
os.remove(sink_path)

In [137]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()

'Sueña'

4

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte